In [ ]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='9eb8cf3d-44b2-47e0-800a-5daf44d6aec0', project_access_token='p-d353a26a3de7201d64c75898fc67ae8164e4ab4b')
pc = project.project_context

In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_9e05e7d327e6421c828095c087b241fd = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_9e05e7d327e6421c828095c087b241fd = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_9e05e7d327e6421c828095c087b241fd = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='jeP4UThEYr4mJfF0NRmYP8-oVib0vkqLSIlfgEkZ0G2n',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_9e05e7d327e6421c828095c087b241fd)

body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='netflix_titles.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

netflix_tv = pd.read_csv(body)
netflix_tv.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [3]:

body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='amazon prime movies.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

amazon_prime = pd.read_csv(body)
body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='disney_plus_shows.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

disney_shows = pd.read_csv(body)
body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='netflix_original_movie_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

netflix_movies = pd.read_csv(body)

In [4]:
amazon_prime.head()

,Movie Name,Language,IMDb Rating,Running Time,Year of Release,Maturity Rating,Plot
0,John Rambo,Tamil,7,1 h 26 min,2008,18+,"In Thailand, John Rambo joins a group of merce..."
1,American Pie,English,7,1 h 35 min,1999,18+,You'll never look at warm apple pie the same w...
2,Bombshell,English,6.8,1 h 48 min,2019,18+,"The provocative real story of three smart, amb..."
3,Love Birds,Tamil,5.1,2 h 40 min,1996,All,"After accidentally meeting, Mridula (Nagma) an..."
4,Hippi,Telugu,5,2 h 20 min,2019,18+,Hippi is about the live-in relationship betwee...

In [5]:
netflix_movies.head()

,Unnamed: 0,Title,Directed by,Produced by,Screenplay by,Based on,Starring,Music by,Cinematography,Edited by,...,Turkish,Indonesian,German,Norwegian,Polish,Music,Lyrics,Book,Basis,Productions
0,0,Beasts of No Nation,Cary Joji Fukunaga,Amy Kaufman Cary Joji Fukunaga Daniela Taplin ...,Cary Joji Fukunaga,"['Beasts of No Nation', 'by Uzodinma Iweala']",Idris Elba Abraham Attah Kurt Egyiawan Jude Ak...,Dan Romer,Cary Joji Fukunaga,Mikkel E. G. Nielsen Pete Beaudreau,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,The Ridiculous 6,Frank Coraci,Allen Covert Adam Sandler Ted Sarandos,NaN,NaN,Adam Sandler Terry Crews Jorge Garcia Taylor L...,Rupert Gregson-Williams Elmo Weber,Dean Semler,Tom Costain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Crouching Tiger, Hidden Dragon: Sword of Destiny",Yuen Woo-ping,Charlie Nguyen Harvey Weinstein,John Fusco,"['Iron Knight, Silver Vase', 'by', 'Wang Dulu']",Donnie Yen Michelle Yeoh,Shigeru Umebayashi,Newton Thomas Sigel,Jeff Betancourt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Pee-wee's Big Holiday,John Lee,"['Judd Apatow', 'Paul Reubens']",NaN,NaN,"['Paul Reubens', 'Joe Manganiello']",Mark Mothersbaugh,Tim Orr,Jeff Buchanan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Special Correspondents,Ricky Gervais,Chris Coen Aaron L. Gilbert Ricky Gervais Ted ...,NaN,"['Envoyés très spéciaux', 'by Simon Michaël & ...",Ricky Gervais Eric Bana Vera Farmiga Kevin Pol...,Dickon Hinchliffe,Terry Stacey,Nicolas Chaudeurge,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
disney_shows.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [6]:
list(disney_shows.columns.values)

['imdb_id',
 'title',
 'plot',
 'type',
 'rated',
 'year',
 'released_at',
 'added_at',
 'runtime',
 'genre',
 'director',
 'writer',
 'actors',
 'language',
 'country',
 'awards',
 'metascore',
 'imdb_rating',
 'imdb_votes']

In [7]:
list(netflix_movies.columns.values)

['Unnamed: 0',
 'Title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Based on',
 'Starring',
 'Music by',
 'Cinematography',
 'Edited by',
 'Production companies',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Running Time',
 'Budget.1',
 'Box Office',
 'Release date.1',
 'imdb',
 'metascore',
 'rotten_tomatoes',
 'Written by',
 'Production company',
 'Story by',
 'Narrated by',
 'French',
 'Spanish',
 'Italian',
 'Portuguese',
 'Animation by',
 'Hangul',
 'Revised Romanization',
 'Japanese',
 'Literally',
 'Turkish',
 'Indonesian',
 'German',
 'Norwegian',
 'Polish',
 'Music',
 'Lyrics',
 'Book',
 'Basis',
 'Productions']

In [8]:
import numpy as np
import seaborn as sns

# Data preparation for Country wise analysis

In [107]:
x=netflix_tv.dropna(inplace=False).to_numpy()

In [9]:
def strip(x):
    if x == 'USA':
        x='united states'
    elif x == 'UK':
        x='united kingdom'
    
    return x.strip().lower()

In [54]:
def change(x):
    y=[]
    for i in range(len(x)):
        y.extend(list(map(strip,x[i].split(','))))
    return y

In [55]:
def count_c(x):
    d=dict()
    y=change(x)
    for v in y:
        if v in d.keys():
            d[v]+=1
        else:
            d[v]=1
    return d

In [165]:
def mal(x,c_i,t_i,r_i):
    data={"count":0}
    country={"india":data}
    data2={"count":1}
    for v in x:
        t=list(map(strip,v[c_i].split(',')))
        for v2 in t:
            if v2 in country.keys():
                country[v2]['count']+=1
                if v[t_i].lower() in country[v2].keys():
                    country[v2][v[t_i].lower()]+=1
                else:
                    country[v2][v[t_i].lower()]=1
                if v[r_i].lower() in country[v2].keys():
                    country[v2][v[r_i].lower()]+=1
                else:
                    country[v2][v[r_i].lower()]=1
            else:
                country[v2]=data2.copy()
                #print(country)
                if v[t_i].lower() in country[v2].keys():
                    country[v2][v[t_i].lower()]+=1
                else:
                    country[v2][v[t_i].lower()]=1
                if v[r_i].lower() in country[v2].keys():
                    country[v2][v[r_i].lower()]+=1
                else:
                    country[v2][v[r_i].lower()]=1
    
    return country

In [142]:
data1=mal(x,5,1,8)

In [143]:
data1

{'india': {'count': 891,
  'movie': 885,
  'tv-14': 507,
  'tv-ma': 218,
  'tv-pg': 124,
  'pg-13': 9,
  'tv show': 6,
  'tv-y7': 10,
  'pg': 5,
  'r': 5,
  'nr': 7,
  'tv-g': 4,
  'tv-y7-fv': 1,
  'ur': 1},
 'mexico': {'count': 91,
  'movie': 87,
  'tv-ma': 53,
  'tv-14': 14,
  'r': 12,
  'tv show': 4,
  'pg': 2,
  'nr': 4,
  'pg-13': 3,
  'tv-y7': 2,
  'tv-g': 1},
 'singapore': {'count': 18,
  'movie': 18,
  'r': 4,
  'tv-ma': 8,
  'tv-pg': 2,
  'tv-14': 4},
 'united states': {'count': 2181,
  'movie': 2143,
  'pg-13': 333,
  'r': 532,
  'tv-ma': 590,
  'tv-14': 204,
  'tv-pg': 129,
  'nr': 29,
  'pg': 203,
  'g': 36,
  'tv-y7': 42,
  'tv-y': 45,
  'tv-g': 34,
  'tv show': 38,
  'tv-y7-fv': 2,
  'ur': 2},
 'turkey': {'count': 83,
  'tv show': 5,
  'tv-ma': 40,
  'movie': 78,
  'tv-14': 29,
  'nr': 4,
  'tv-pg': 8,
  'tv-g': 1,
  'r': 1},
 'egypt': {'count': 95, 'movie': 95, 'tv-ma': 27, 'tv-14': 64, 'tv-pg': 4},
 'thailand': {'count': 43,
  'movie': 40,
  'tv-ma': 28,
  'tv-14': 6,
  'r': 3,
  'tv-pg': 4,
  'tv-g': 1,
  'tv show': 3,
  'pg-13': 1},
 'nigeria': {'count': 70,
  'movie': 67,
  'tv-14': 32,
  'tv-ma': 30,
  'tv-pg': 7,
  'tv show': 3,
  'nr': 1},
 'norway': {'count': 18,
  'movie': 18,
  'r': 2,
  'tv-14': 3,
  'tv-ma': 9,
  'pg-13': 3,
  'tv-pg': 1},
 'iceland': {'count': 7,
  'movie': 7,
  'r': 1,
  'tv-ma': 2,
  'pg-13': 1,
  'tv-14': 3},
 'south korea': {'count': 61,
  'movie': 50,
  'tv-ma': 38,
  'tv-y7': 5,
  'tv show': 11,
  'tv-pg': 3,
  'pg': 2,
  'tv-14': 6,
  'nr': 3,
  'g': 1,
  'r': 2,
  'pg-13': 1},
 'italy': {'count': 57,
  'movie': 52,
  'tv-14': 10,
  'tv-ma': 24,
  'pg-13': 8,
  'tv show': 5,
  'r': 5,
  'tv-y': 1,
  'tv-y7-fv': 1,
  'tv-y7': 2,
  'pg': 2,
  'tv-pg': 2,
  'nr': 1,
  'g': 1},
 'indonesia': {'count': 75,
  'movie': 75,
  'tv-g': 8,
  'tv-14': 31,
  'tv-pg': 16,
  'r': 3,
  'tv-ma': 16,
  'pg-13': 1},
 'canada': {'count': 263,
  'movie': 255,
  'tv-14': 20,
  'tv-g': 7,
  'pg': 23,
  'r': 68,
  'nr': 4,
  'tv-ma': 62,
  'tv show': 8,
  'tv-y': 22,
  'pg-13': 28,
  'tv-pg': 17,
  'tv-y7': 8,
  'ur': 1,
  'g': 2,
  'nc-17': 1},
 'romania': {'count': 11,
  'movie': 11,
  'tv-ma': 7,
  'tv-14': 2,
  'pg-13': 1,
  'r': 1},
 'spain': {'count': 147,
  'movie': 138,
  'tv-ma': 110,
  'r': 11,
  'pg-13': 5,
  'tv-y7': 1,
  'tv show': 9,
  'nc-17': 1,
  'tv-14': 10,
  'pg': 4,
  'tv-pg': 2,
  'g': 2,
  'tv-y': 1},
 'south africa': {'count': 41,
  'movie': 40,
  'tv-14': 7,
  'pg-13': 6,
  'r': 8,
  'tv-pg': 6,
  'tv-ma': 14,
  'tv show': 1},
 'france': {'count': 254,
  'movie': 248,
  'tv-14': 32,
  'tv-ma': 112,
  'pg-13': 21,
  'tv-y7': 4,
  'r': 49,
  'g': 2,
  'pg': 18,
  'nc-17': 1,
  'nr': 3,
  'tv show': 6,
  'tv-y': 2,
  'ur': 2,
  'tv-pg': 7,
  'tv-g': 1},
 'portugal': {'count': 4, 'movie': 4, 'tv-ma': 4},
 'hong kong': {'count': 95,
  'movie': 95,
  'r': 18,
  'tv-14': 34,
  'tv-ma': 30,
  'pg-13': 5,
  'tv-pg': 4,
  'nr': 2,
  'pg': 2},
 'china': {'count': 98,
  'movie': 96,
  'r': 19,
  'tv-14': 23,
  'tv-ma': 26,
  'g': 1,
  'tv-y7': 2,
  'pg': 8,
  'pg-13': 11,
  'tv-pg': 6,
  'nr': 1,
  'tv show': 2,
  'tv-g': 1},
 'germany': {'count': 143,
  'movie': 141,
  'pg-13': 24,
  'tv-ma': 42,
  'tv-14': 15,
  'r': 35,
  'tv-pg': 10,
  'pg': 8,
  'tv-g': 3,
  'tv show': 2,
  'tv-y': 1,
  'nr': 2,
  'tv-y7': 2,
  'g': 1},
 'united kingdom': {'count': 426,
  'movie': 403,
  'tv-14': 38,
  'tv-ma': 112,
  'r': 119,
  'pg': 31,
  'tv-pg': 35,
  'pg-13': 64,
  'g': 3,
  'tv show': 23,
  'nr': 6,
  'tv-y7': 3,
  'tv-g': 8,
  'tv-y': 6,
  'ur': 1},
 'argentina': {'count': 58,
  'movie': 57,
  'tv-ma': 44,
  'tv-14': 6,
  'tv show': 1,
  'r': 2,
  'nr': 2,
  'tv-pg': 2,
  'g': 1,
  'pg': 1},
 'serbia': {'count': 7,
  'movie': 7,
  'pg-13': 2,
  'r': 1,
  'tv-14': 1,
  'tv-ma': 3},
 'denmark': {'count': 26,
  'movie': 24,
  'tv-14': 2,
  'tv-pg': 1,
  'tv-ma': 12,
  'r': 5,
  'pg-13': 2,
  'tv show': 2,
  'tv-y': 1,
  'nr': 1,
  'tv-g': 2},
 'poland': {'count': 28,
  'movie': 27,
  'tv-14': 3,
  'tv-ma': 22,
  'r': 1,
  'pg-13': 1,
  'tv-pg': 1,
  'tv show': 1},
 'japan': {'count': 108,
  'movie': 97,
  'tv-ma': 30,
  'tv-y7': 7,
  'tv-14': 20,
  'tv-pg': 27,
  'tv show': 11,
  'pg': 10,
  'r': 6,
  'pg-13': 7,
  'g': 1},
 'kenya': {'count': 5, 'movie': 5, 'tv-14': 2, 'tv-ma': 2, 'r': 1},
 'new zealand': {'count': 17,
  'movie': 17,
  'r': 4,
  'tv-ma': 5,
  'pg-13': 3,
  'tv-14': 2,
  'pg': 2,
  'tv-pg': 1},
 'pakistan': {'count': 20,
  'movie': 19,
  'tv-pg': 3,
  'tv-14': 13,
  'tv-ma': 4,
  'tv show': 1},
 'australia': {'count': 76,
  'movie': 75,
  'pg': 10,
  'r': 16,
  'tv-ma': 16,
  'tv-y': 5,
  'pg-13': 11,
  'tv-pg': 7,
  'tv-14': 4,
  'tv-g': 2,
  'tv-y7': 2,
  'tv show': 1,
  'nr': 3},
 'taiwan': {'count': 21,
  'movie': 14,
  'tv-14': 4,
  'tv-ma': 14,
  'tv show': 7,
  'pg-13': 1,
  'tv-pg': 2},
 'netherlands': {'count': 31,
  'movie': 31,
  'tv-pg': 4,
  'tv-ma': 14,
  'tv-14': 6,
  'r': 4,
  'tv-g': 2,
  'pg': 1},
 'philippines': {'count': 76,
  'movie': 76,
  'tv-14': 35,
  'tv-ma': 27,
  'tv-g': 4,
  'tv-pg': 8,
  'r': 1,
  'pg-13': 1},
 'united arab emirates': {'count': 31,
  'movie': 31,
  'r': 2,
  'tv-14': 8,
  'tv-pg': 6,
  'tv-ma': 8,
  'tv-g': 1,
  'pg-13': 2,
  'g': 1,
  'pg': 3},
 'brazil': {'count': 53,
  'tv show': 4,
  'tv-14': 7,
  'movie': 49,
  'tv-ma': 29,
  'tv-pg': 3,
  'nr': 2,
  'pg': 3,
  'r': 3,
  'tv-g': 3,
  'tv-y': 2,
  'pg-13': 1},
 'iran': {'count': 4, 'movie': 4, 'pg-13': 2, 'tv-14': 1, 'r': 1},
 'belgium': {'count': 71,
  'movie': 70,
  'g': 1,
  'tv-14': 5,
  'tv-ma': 34,
  'pg': 7,
  'r': 16,
  'nc-17': 1,
  'nr': 2,
  'tv-pg': 1,
  'pg-13': 3,
  'tv-y': 1,
  'tv show': 1},
 'israel': {'count': 16,
  'movie': 15,
  'pg-13': 1,
  'tv-ma': 6,
  'tv show': 1,
  'tv-14': 4,
  'r': 3,
  'tv-pg': 2},
 'uruguay': {'count': 10,
  'movie': 10,
  'tv-ma': 7,
  'tv-14': 1,
  'tv-g': 1,
  'tv-pg': 1},
 'bulgaria': {'count': 9, 'movie': 9, 'r': 7, 'tv-pg': 1, 'tv-ma': 1},
 'chile': {'count': 21,
  'movie': 21,
  'r': 3,
  'tv-14': 4,
  'tv-ma': 13,
  'tv-pg': 1},
 'algeria': {'count': 2, 'movie': 2, 'tv-ma': 2},
 'soviet union': {'count': 3, 'movie': 3, 'tv-14': 3},
 'malaysia': {'count': 19,
  'movie': 18,
  'tv-pg': 8,
  'tv-14': 8,
  'tv-ma': 3,
  'tv show': 1},
 'ireland': {'count': 27,
  'movie': 25,
  'g': 1,
  'tv-y': 1,
  'pg-13': 4,
  'r': 7,
  'tv-ma': 9,
  'tv show': 2,
  'tv-14': 2,
  'pg': 1,
  'tv-g': 1,
  'tv-pg': 1},
 'luxembourg': {'count': 10,
  'movie': 10,
  'r': 4,
  'tv-14': 1,
  'pg': 1,
  'pg-13': 2,
  'tv-ma': 1,
  'tv-pg': 1},
 'colombia': {'count': 16,
  'movie': 14,
  'tv-14': 7,
  'tv-pg': 1,
  'tv-ma': 7,
  'tv show': 2,
  'r': 1},
 'sweden': {'count': 23,
  'movie': 23,
  'tv-14': 2,
  'tv-ma': 12,
  'pg-13': 3,
  'r': 5,
  'nr': 1},
 'austria': {'count': 8,
  'movie': 8,
  'tv-pg': 3,
  'tv-ma': 3,
  'r': 1,
  'tv-14': 1},
 'peru': {'count': 8, 'movie': 8, 'tv-14': 3, 'tv-ma': 5},
 'senegal': {'count': 1, 'movie': 1, 'tv-14': 1},
 'switzerland': {'count': 16,
  'movie': 16,
  'tv-ma': 6,
  'r': 2,
  'pg': 2,
  'pg-13': 4,
  'tv-14': 1,
  'g': 1},
 'ghana': {'count': 4, 'movie': 4, 'tv-14': 2, 'tv-ma': 2},
 'saudi arabia': {'count': 7,
  'movie': 6,
  'tv-ma': 1,
  'tv-14': 4,
  'tv show': 1,
  'pg': 1,
  'tv-pg': 1},
 'namibia': {'count': 1, 'movie': 1, 'tv-pg': 1},
 'finland': {'count': 4, 'movie': 4, 'tv-ma': 2, 'pg-13': 1, 'pg': 1},
 'lebanon': {'count': 18, 'movie': 18, 'tv-14': 6, 'tv-ma': 11, 'pg': 1},
 'qatar': {'count': 7,
  'movie': 7,
  'tv-ma': 4,
  'tv-14': 1,
  'pg': 1,
  'pg-13': 1},
 'vietnam': {'count': 5, 'movie': 5, 'tv-14': 2, 'tv-ma': 2, 'tv-g': 1},
 'russia': {'count': 9,
  'movie': 8,
  'tv-ma': 2,
  'r': 4,
  'tv-14': 2,
  'pg-13': 1,
  'tv show': 1},
 'jordan': {'count': 6,
  'movie': 6,
  'tv-14': 1,
  'tv-ma': 3,
  'pg-13': 1,
  'pg': 1},
 'malta': {'count': 2, 'movie': 2, 'r': 1, 'pg-13': 1},
 'kuwait': {'count': 4, 'movie': 4, 'tv-14': 2, 'tv-ma': 1, 'tv-pg': 1},
 'czech republic': {'count': 13,
  'movie': 13,
  'pg-13': 2,
  'r': 4,
  'tv-14': 2,
  'tv-pg': 1,
  'tv-ma': 2,
  'pg': 2},
 'bahamas': {'count': 1, 'movie': 1, 'pg-13': 1},
 'sri lanka': {'count': 1, 'movie': 1, 'tv-g': 1},
 'cayman islands': {'count': 2, 'movie': 2, 'tv-y7': 1, 'pg': 1},
 'bangladesh': {'count': 3, 'movie': 3, 'nr': 1, 'tv-14': 1, 'tv-ma': 1},
 'zimbabwe': {'count': 1, 'movie': 1, 'tv-g': 1},
 'hungary': {'count': 8,
  'movie': 8,
  'tv-ma': 4,
  'r': 2,
  'tv-14': 1,
  'tv-y': 1},
 'latvia': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'liechtenstein': {'count': 1, 'movie': 1, 'pg-13': 1},
 'venezuela': {'count': 1, 'movie': 1, 'tv-14': 1},
 'cambodia': {'count': 5,
  'movie': 5,
  'pg-13': 1,
  'tv-ma': 2,
  'tv-14': 1,
  'pg': 1},
 'albania': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'nicaragua': {'count': 1, 'movie': 1, 'r': 1},
 'greece': {'count': 6,
  'tv show': 1,
  'tv-pg': 1,
  'movie': 5,
  'pg': 1,
  'pg-13': 2,
  'tv-14': 1,
  'r': 1},
 '': {'count': 2, 'movie': 2, 'tv-14': 1, 'tv-ma': 1},
 'croatia': {'count': 3, 'movie': 3, 'pg-13': 1, 'tv-14': 1, 'tv-ma': 1},
 'guatemala': {'count': 2, 'movie': 2, 'tv-g': 1, 'tv-ma': 1},
 'slovenia': {'count': 3, 'movie': 3, 'tv-14': 1, 'tv-ma': 2},
 'dominican republic': {'count': 1, 'movie': 1, 'pg-13': 1},
 'nepal': {'count': 2, 'movie': 2, 'tv-pg': 2},
 'west germany': {'count': 2, 'movie': 2, 'tv-ma': 1, 'g': 1},
 'bermuda': {'count': 1, 'movie': 1, 'tv-pg': 1},
 'ecuador': {'count': 1, 'movie': 1, 'tv-pg': 1},
 'morocco': {'count': 5, 'movie': 5, 'tv-ma': 2, 'pg-13': 1, 'tv-14': 2},
 'georgia': {'count': 1, 'movie': 1, 'tv-14': 1},
 'iraq': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'vatican city': {'count': 1, 'movie': 1, 'pg': 1},
 'angola': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'jamaica': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'malawi': {'count': 1, 'movie': 1, 'tv-pg': 1},
 'slovakia': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'lithuania': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'afghanistan': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'paraguay': {'count': 1, 'movie': 1, 'tv-ma': 1},
 'somalia': {'count': 1, 'movie': 1, 'r': 1},
 'sudan': {'count': 1, 'movie': 1, 'r': 1},
 'panama': {'count': 1, 'movie': 1, 'tv-pg': 1},
 'east germany': {'count': 1, 'movie': 1, 'g': 1},
 'montenegro': {'count': 1, 'movie': 1, 'tv-ma': 1}}

In [144]:
y=disney_shows.dropna(inplace=False).to_numpy()

In [166]:
data2=mal(y,14,3,4)

In [167]:
data2

{'india': {'count': 1, 'movie': 1, 'pg': 1},
 'united states': {'count': 236,
  'movie': 236,
  'pg-13': 35,
  'g': 82,
  'pg': 108,
  'approved': 8,
  'not rated': 1,
  'passed': 2},
 'uk': {'count': 17, 'movie': 17, 'g': 5, 'pg': 10, 'pg-13': 2},
 'hungary': {'count': 1, 'movie': 1, 'pg': 1},
 'germany': {'count': 2, 'movie': 2, 'pg': 2},
 'ireland': {'count': 1, 'movie': 1, 'pg': 1},
 'usa': {'count': 14, 'movie': 14, 'pg': 7, 'g': 7},
 'united kingdom': {'count': 9, 'movie': 9, 'g': 4, 'pg': 4, 'pg-13': 1},
 'china': {'count': 1, 'movie': 1, 'g': 1},
 'tanzania': {'count': 1, 'movie': 1, 'g': 1},
 'australia': {'count': 6, 'movie': 6, 'pg': 1, 'g': 3, 'pg-13': 2},
 'canada': {'count': 9, 'movie': 9, 'pg': 5, 'g': 4},
 'france': {'count': 4, 'movie': 4, 'g': 3, 'pg': 1},
 'mexico': {'count': 1, 'movie': 1, 'pg': 1},
 'poland': {'count': 1, 'movie': 1, 'pg': 1},
 'slovenia': {'count': 1, 'movie': 1, 'pg': 1},
 'czech republic': {'count': 1, 'movie': 1, 'pg': 1},
 'austria': {'count': 1, 'movie': 1, 'pg': 1},
 'japan': {'count': 1, 'movie': 1, 'g': 1}}

In [168]:
#df

In [173]:
l=[]
for k,v in data1.items():
    df={}
    df["country"]=k
    for k,v2 in v.items():
        df[k]=v2
    l.append(df)

In [171]:
for k,v in data2.items():
    df={}
    df["country"]=k
    for k,v2 in v.items():
        df[k]=v2
    l.append(df)

In [176]:
data2

{'india': {'count': 1, 'movie': 1, 'pg': 1},
 'united states': {'count': 236,
  'movie': 236,
  'pg-13': 35,
  'g': 82,
  'pg': 108,
  'approved': 8,
  'not rated': 1,
  'passed': 2},
 'uk': {'count': 17, 'movie': 17, 'g': 5, 'pg': 10, 'pg-13': 2},
 'hungary': {'count': 1, 'movie': 1, 'pg': 1},
 'germany': {'count': 2, 'movie': 2, 'pg': 2},
 'ireland': {'count': 1, 'movie': 1, 'pg': 1},
 'usa': {'count': 14, 'movie': 14, 'pg': 7, 'g': 7},
 'united kingdom': {'count': 9, 'movie': 9, 'g': 4, 'pg': 4, 'pg-13': 1},
 'china': {'count': 1, 'movie': 1, 'g': 1},
 'tanzania': {'count': 1, 'movie': 1, 'g': 1},
 'australia': {'count': 6, 'movie': 6, 'pg': 1, 'g': 3, 'pg-13': 2},
 'canada': {'count': 9, 'movie': 9, 'pg': 5, 'g': 4},
 'france': {'count': 4, 'movie': 4, 'g': 3, 'pg': 1},
 'mexico': {'count': 1, 'movie': 1, 'pg': 1},
 'poland': {'count': 1, 'movie': 1, 'pg': 1},
 'slovenia': {'count': 1, 'movie': 1, 'pg': 1},
 'czech republic': {'count': 1, 'movie': 1, 'pg': 1},
 'austria': {'count': 1, 'movie': 1, 'pg': 1},
 'japan': {'count': 1, 'movie': 1, 'g': 1}}

In [194]:
df_f=pd.DataFrame(l)

In [195]:
df_f=df_f.fillna(0)

In [196]:
df_f

,country,count,movie,tv-14,tv-ma,tv-pg,pg-13,tv show,tv-y7,pg,r,nr,tv-g,tv-y7-fv,ur,g,tv-y,nc-17
0,india,891,885,507.0,218.0,124.0,9.0,6.0,10.0,5.0,5.0,7.0,4.0,1.0,1.0,0.0,0.0,0.0
1,mexico,91,87,14.0,53.0,0.0,3.0,4.0,2.0,2.0,12.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
2,singapore,18,18,4.0,8.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,united states,2181,2143,204.0,590.0,129.0,333.0,38.0,42.0,203.0,532.0,29.0,34.0,2.0,2.0,36.0,45.0,0.0
4,turkey,83,78,29.0,40.0,8.0,0.0,5.0,0.0,0.0,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,somalia,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,sudan,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,panama,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,east germany,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
103,montenegro,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
from project_lib import Project
project = Project(project_id="9eb8cf3d-44b2-47e0-800a-5daf44d6aec0",project_access_token="p-d353a26a3de7201d64c75898fc67ae8164e4ab4b")
project.save_data(file_name = "contrywise.csv",data = df_f.to_csv())

{'file_name': 'contrywise.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'ottanalysis-donotdelete-pr-5ryrxspyvczcwg',
 'asset_id': 'a9741a15-dd4e-4173-a324-d70979ae0e38'}

# Vocational analysis and data preparation

In [19]:
disney_shows

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,tt3544734,Zapped,"When Zoey's mom remarries, Zoey finds it hard ...",movie,TV-G,2014,23 Jun 2014,"November 12, 2019",102 min,"Comedy, Family, Fantasy",Peter DeLuise,"Leslie Margolis (based on the novel ""Boys Are ...","Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",English,"Canada, USA",5 wins & 1 nomination.,NaN,5.1,"3,750"
988,tt0186726,Zenon: Girl of the 21st Century,An inquisitive teenager pries into suspected d...,movie,TV-G,1999,23 Jan 1999,"November 12, 2019",97 min,"Adventure, Comedy, Family, Sci-Fi",Kenneth Johnson,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Raven-Symoné, Stuart Pankin, H...",English,USA,2 nominations.,NaN,6.4,"6,378"
989,tt0271271,Zenon: The Zequel,A mischievous fifteen-year-old girl living on ...,movie,TV-G,2001,12 Jan 2001,"November 12, 2019",100 min,"Comedy, Family, Adventure, Sci-Fi",Manny Coto,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Shadia Simmons, Lauren Maltby,...",English,"USA, New Zealand",1 nomination.,NaN,5.9,"3,318"
990,tt0379060,Zenon: Z3,The heroine sets out to win an important compe...,movie,TV-G,2004,11 Jun 2004,"November 12, 2019",81 min,"Adventure, Comedy, Family, Sci-Fi",Steve Rash,"Marilyn Sadler (character from the book ""Zenon...","Kirsten Storms, Lauren Maltby, Alyson Morgan, ...",English,USA,NaN,NaN,5.5,"2,339"
991,tt2948356,Zootopia,"In a city of anthropomorphic animals, a rookie...",movie,PG,2016,04 Mar 2016,"November 12, 2019",108 min,"Animation, Adventure, Comedy, Crime, Family, M...","Byron Howard, Rich Moore, Jared Bush(co-director)","Byron Howard (story by), Rich Moore (story by)...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",English,USA,Won 1 Oscar. Another 46 wins & 71 nominations.,78.0,8.0,"410,437"

In [17]:
x=disney_shows.dropna(inplace=False).to_numpy()

In [28]:
d={}
dt=[]
for v in x:
    y=list(map(strip,v[9].split(',')))
    for c in y:
        if c in d.keys():
            d[c].extend(list(map(strip,v[14].split(','))))
        else:
            d[c]=dt
            d[c].extend(list(map(strip,v[14].split(','))))

            
for k,v in d.items():
    d[k]=set(v)

In [32]:
df=[]
for k in d.keys():
    for i in d[k]:
        gen={"genre":k,"Country":i}
        df.append(gen)

In [34]:
df2=pd.DataFrame(df,)

In [36]:
from project_lib import Project
project = Project(project_id="9eb8cf3d-44b2-47e0-800a-5daf44d6aec0",project_access_token="p-d353a26a3de7201d64c75898fc67ae8164e4ab4b")
project.save_data(file_name = "gvsc.csv",data = df2.to_csv())

{'file_name': 'gvsc.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'ottanalysis-donotdelete-pr-5ryrxspyvczcwg',
 'asset_id': '7f98b939-13bb-4091-8b4c-081a947cf8d4'}

In [83]:
d={}
dt=[]
for v in x:
    y=list(map(strip,v[13].split(',')))
    for c in y:
        if c in d.keys():
            d[c].append(int(v[5]))
        else:
            d[c]=dt.copy()
            d[c].append(int(v[5]))

for k,v in d.items():
    d[k]=set(v)

In [76]:
df=[]
for k in d.keys():
    for i in d[k]:
        gen={"genre":k,"Country":i}
        df.append(gen)

In [77]:
df2=pd.DataFrame(df)

In [78]:
from project_lib import Project
project = Project(project_id="9eb8cf3d-44b2-47e0-800a-5daf44d6aec0",project_access_token="p-d353a26a3de7201d64c75898fc67ae8164e4ab4b")
project.save_data(file_name = "gvsvo.csv",data = df2.to_csv())

{'file_name': 'gvsvo.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'ottanalysis-donotdelete-pr-5ryrxspyvczcwg',
 'asset_id': '488a206a-a4eb-4178-a537-f4f50cf8ad95'}

# Language

In [7]:
x=disney_shows.dropna(inplace=False).to_numpy()

In [10]:

data={"count":0}
country={"english":data}
data2={"count":1}
for v in x:
    t=list(map(strip,v[13].split(',')))
    for v2 in t:
        if v2 in country.keys():
            country[v2]['count']+=1
            t2=list(map(strip,v[14].split(',')))
            for v3 in t2: 
                if v3 in country[v2].keys():
                    country[v2][v3]+=1
                else:
                    country[v2][v3]=1
            if "votes" in country[v2].keys():
                country[v2]["votes"]+=int(v[18].replace(",",""))
            else:
                country[v2]["votes"]=int(v[18].replace(",",""))
        else:
            country[v2]=data2.copy()
            t2=list(map(strip,v[14].split(',')))
            for v3 in t2: 
                if v3 in country[v2].keys():
                    country[v2][v3]+=1
                else:
                    country[v2][v3]=1
            if "votes" in country[v2].keys():
                country[v2]["votes"]+=int(v[18].replace(",",""))
            else:
                country[v2]["votes"]=int(v[18].replace(",",""))

In [12]:
l=[]
for k,v in country.items():
    df={}
    df["language"]=k
    for k,v2 in v.items():
        df[k]=v2
    l.append(df)

In [14]:
df=pd.DataFrame(l)

In [16]:
df=df.fillna(0)

In [18]:
from project_lib import Project
project = Project(project_id="9eb8cf3d-44b2-47e0-800a-5daf44d6aec0",project_access_token="p-d353a26a3de7201d64c75898fc67ae8164e4ab4b")
project.save_data(file_name = "language.csv",data = df.to_csv())

{'file_name': 'language.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'ottanalysis-donotdelete-pr-5ryrxspyvczcwg',
 'asset_id': 'ee99ec06-da17-49cf-988c-6a6490059a05'}

In [19]:
y=amazon_prime.dropna(inplace=False).to_numpy()

In [25]:
d={}
for i in y[:,1]:
    if i in d:
        d[i]+=1
    else:
        d[i]=1

In [26]:
d

{'Tamil': 721,
 'English': 1699,
 'Telugu': 987,
 'Bengali': 1196,
 'Punjabi': 133,
 'Kannada': 419,
 'Hindi': 1982,
 'Marathi': 353,
 'Malayalam': 518,
 'Gujarati': 114}

# Reviews

In [41]:
x=disney_shows.fillna(0).to_numpy()

In [43]:
l=[]
for v in x:
    d={}
    d["rating"]=float(v[17])
    c=int(v[18].replace(",",""))
    d["votes"]=c
    d["awards"]= 0 if v[15] == 0 else 1
    l.append(d)

AttributeError: 'int' object has no attribute 'replace'

In [32]:
df=pd.DataFrame(l)

In [33]:
df

     rating   votes  awards
0       7.3  283945       1
1       5.7   97785       1
2       4.9   33444       1
3       7.2   27761       1
4       7.2  257065       1
..      ...     ...     ...
247     7.7  175505       1
248     7.3   97309       1
249     7.2   20673       1
250     7.7  365043       1
251     8.0  410437       1

[252 rows x 3 columns]

In [36]:
l

[{'rating': 7.3, 'votes': 283945, 'awards': 1},
 {'rating': 5.7, 'votes': 97785, 'awards': 1},
 {'rating': 4.9, 'votes': 33444, 'awards': 1},
 {'rating': 7.2, 'votes': 27761, 'awards': 1},
 {'rating': 7.2, 'votes': 257065, 'awards': 1},
 {'rating': 4.7, 'votes': 5479, 'awards': 1},
 {'rating': 4.2, 'votes': 38659, 'awards': 1},
 {'rating': 7.0, 'votes': 204537, 'awards': 1},
 {'rating': 8.0, 'votes': 356283, 'awards': 1},
 {'rating': 7.4, 'votes': 123377, 'awards': 1},
 {'rating': 6.4, 'votes': 371772, 'awards': 1},
 {'rating': 5.9, 'votes': 82011, 'awards': 1},
 {'rating': 6.9, 'votes': 98258, 'awards': 1},
 {'rating': 7.8, 'votes': 1086714, 'awards': 1},
 {'rating': 6.3, 'votes': 3228, 'awards': 1},
 {'rating': 7.3, 'votes': 125824, 'awards': 1},
 {'rating': 8.0, 'votes': 404632, 'awards': 1},
 {'rating': 6.3, 'votes': 10040, 'awards': 1},
 {'rating': 7.1, 'votes': 32823, 'awards': 1},
 {'rating': 6.0, 'votes': 85524, 'awards': 1},
 {'rating': 8.3, 'votes': 25171, 'awards': 1},
 {'rating': 6.3, 'votes': 2629, 'awards': 1},
 {'rating': 6.4, 'votes': 11575, 'awards': 1},
 {'rating': 7.8, 'votes': 393016, 'awards': 1},
 {'rating': 6.8, 'votes': 182591, 'awards': 1},
 {'rating': 7.1, 'votes': 357239, 'awards': 1},
 {'rating': 6.8, 'votes': 92453, 'awards': 1},
 {'rating': 7.1, 'votes': 349674, 'awards': 1},
 {'rating': 6.1, 'votes': 150876, 'awards': 1},
 {'rating': 6.7, 'votes': 68243, 'awards': 1},
 {'rating': 5.9, 'votes': 90580, 'awards': 1},
 {'rating': 5.7, 'votes': 82825, 'awards': 1},
 {'rating': 7.3, 'votes': 139378, 'awards': 1},
 {'rating': 8.4, 'votes': 333411, 'awards': 1},
 {'rating': 4.3, 'votes': 14974, 'awards': 1},
 {'rating': 4.6, 'votes': 26686, 'awards': 1},
 {'rating': 7.0, 'votes': 88123, 'awards': 1},
 {'rating': 6.2, 'votes': 40808, 'awards': 1},
 {'rating': 6.5, 'votes': 50895, 'awards': 1},
 {'rating': 6.1, 'votes': 39194, 'awards': 1},
 {'rating': 7.6, 'votes': 6043, 'awards': 1},
 {'rating': 7.4, 'votes': 6262, 'awards': 1},
 {'rating': 7.2, 'votes': 3316, 'awards': 1},
 {'rating': 7.2, 'votes': 5708, 'awards': 1},
 {'rating': 7.3, 'votes': 3529, 'awards': 1},
 {'rating': 6.9, 'votes': 1093, 'awards': 1},
 {'rating': 5.4, 'votes': 89150, 'awards': 1},
 {'rating': 4.7, 'votes': 40531, 'awards': 1},
 {'rating': 6.3, 'votes': 58882, 'awards': 1},
 {'rating': 7.3, 'votes': 58850, 'awards': 1},
 {'rating': 7.8, 'votes': 84999, 'awards': 1},
 {'rating': 7.2, 'votes': 33785, 'awards': 1},
 {'rating': 7.3, 'votes': 227414, 'awards': 1},
 {'rating': 8.1, 'votes': 911647, 'awards': 1},
 {'rating': 5.2, 'votes': 9855, 'awards': 1},
 {'rating': 6.9, 'votes': 42322, 'awards': 1},
 {'rating': 5.3, 'votes': 81512, 'awards': 1},
 {'rating': 6.9, 'votes': 94078, 'awards': 1},
 {'rating': 6.1, 'votes': 120172, 'awards': 1},
 {'rating': 7.5, 'votes': 551637, 'awards': 1},
 {'rating': 7.0, 'votes': 106368, 'awards': 1},
 {'rating': 5.1, 'votes': 41151, 'awards': 1},
 {'rating': 5.4, 'votes': 68409, 'awards': 1},
 {'rating': 7.2, 'votes': 41442, 'awards': 1},
 {'rating': 2.3, 'votes': 8392, 'awards': 1},
 {'rating': 4.4, 'votes': 38414, 'awards': 1},
 {'rating': 5.0, 'votes': 4958, 'awards': 1},
 {'rating': 4.8, 'votes': 43653, 'awards': 1},
 {'rating': 7.3, 'votes': 195894, 'awards': 1},
 {'rating': 4.8, 'votes': 55628, 'awards': 1},
 {'rating': 7.0, 'votes': 74143, 'awards': 1},
 {'rating': 5.3, 'votes': 19123, 'awards': 1},
 {'rating': 4.8, 'votes': 39775, 'awards': 1},
 {'rating': 6.3, 'votes': 137074, 'awards': 1},
 {'rating': 7.5, 'votes': 421204, 'awards': 1},
 {'rating': 8.2, 'votes': 577209, 'awards': 1},
 {'rating': 4.1, 'votes': 43808, 'awards': 1},
 {'rating': 7.1, 'votes': 63682, 'awards': 1},
 {'rating': 5.8, 'votes': 54474, 'awards': 1},
 {'rating': 6.7, 'votes': 57814, 'awards': 1},
 {'rating': 7.8, 'votes': 3897, 'awards': 1},
 {'rating': 6.6, 'votes': 248903, 'awards': 1},
 {'rating': 5.2, 'votes': 22111, 'awards': 1},
 {'rating': 3.0, 'votes': 22405, 'awards': 1},
 {'rating': 6.3, 'votes': 12134, 'awards': 1},
 {'rating': 7.3, 'votes': 116990, 'awards': 1},
 {'rating': 7.2, 'votes': 160264, 'awards': 1},
 {'rating': 5.4, 'votes': 20441, 'awards': 1},
 {'rating': 7.3, 'votes': 540523, 'awards': 1},
 {'rating': 7.3, 'votes': 711205, 'awards': 1},
 {'rating': 8.4, 'votes': 694527, 'awards': 1},
 {'rating': 7.3, 'votes': 579293, 'awards': 1},
 {'rating': 7.8, 'votes': 628016, 'awards': 1},
 {'rating': 6.9, 'votes': 711603, 'awards': 1},
 {'rating': 7.7, 'votes': 706555, 'awards': 1},
 {'rating': 6.9, 'votes': 406778, 'awards': 1},
 {'rating': 7.5, 'votes': 562696, 'awards': 1},
 {'rating': 8.0, 'votes': 1007917, 'awards': 1},
 {'rating': 7.6, 'votes': 537920, 'awards': 1},
 {'rating': 7.9, 'votes': 910300, 'awards': 1},
 {'rating': 7.0, 'votes': 693517, 'awards': 1},
 {'rating': 7.2, 'votes': 730917, 'awards': 1},
 {'rating': 8.0, 'votes': 1225316, 'awards': 1},
 {'rating': 7.0, 'votes': 717145, 'awards': 1},
 {'rating': 7.9, 'votes': 542938, 'awards': 1},
 {'rating': 6.9, 'votes': 571192, 'awards': 1},
 {'rating': 7.8, 'votes': 151417, 'awards': 1},
 {'rating': 6.8, 'votes': 84040, 'awards': 1},
 {'rating': 6.4, 'votes': 4534, 'awards': 1},
 {'rating': 5.6, 'votes': 26795, 'awards': 1},
 {'rating': 6.9, 'votes': 24147, 'awards': 1},
 {'rating': 7.5, 'votes': 45667, 'awards': 1},
 {'rating': 7.9, 'votes': 38715, 'awards': 1},
 {'rating': 7.6, 'votes': 250176, 'awards': 1},
 {'rating': 7.3, 'votes': 308588, 'awards': 1},
 {'rating': 8.0, 'votes': 779728, 'awards': 1},
 {'rating': 7.6, 'votes': 237755, 'awards': 1},
 {'rating': 7.0, 'votes': 20293, 'awards': 1},
 {'rating': 6.4, 'votes': 30336, 'awards': 1},
 {'rating': 5.1, 'votes': 12448, 'awards': 1},
 {'rating': 6.8, 'votes': 295236, 'awards': 1},
 {'rating': 6.5, 'votes': 212576, 'awards': 1},
 {'rating': 7.0, 'votes': 18094, 'awards': 1},
 {'rating': 5.4, 'votes': 35534, 'awards': 1},
 {'rating': 7.3, 'votes': 11270, 'awards': 1},
 {'rating': 6.7, 'votes': 41874, 'awards': 1},
 {'rating': 7.2, 'votes': 146668, 'awards': 1},
 {'rating': 7.5, 'votes': 45444, 'awards': 1},
 {'rating': 6.4, 'votes': 21558, 'awards': 1},
 {'rating': 6.7, 'votes': 52020, 'awards': 1},
 {'rating': 7.3, 'votes': 120707, 'awards': 1},
 {'rating': 5.8, 'votes': 17404, 'awards': 1},
 {'rating': 6.1, 'votes': 6519, 'awards': 1},
 {'rating': 7.4, 'votes': 124261, 'awards': 1},
 {'rating': 7.1, 'votes': 577465, 'awards': 1},
 {'rating': 7.3, 'votes': 635041, 'awards': 1},
 {'rating': 6.6, 'votes': 465510, 'awards': 1},
 {'rating': 8.0, 'votes': 992127, 'awards': 1},
 {'rating': 6.7, 'votes': 163209, 'awards': 1},
 {'rating': 6.4, 'votes': 6031, 'awards': 1},
 {'rating': 5.4, 'votes': 14569, 'awards': 1},
 {'rating': 7.4, 'votes': 14265, 'awards': 1},
 {'rating': 8.0, 'votes': 612483, 'awards': 1},
 {'rating': 5.9, 'votes': 32647, 'awards': 1},
 {'rating': 7.8, 'votes': 190945, 'awards': 1},
 {'rating': 6.7, 'votes': 23581, 'awards': 1},
 {'rating': 7.6, 'votes': 110712, 'awards': 1},
 {'rating': 7.8, 'votes': 526836, 'awards': 1},
 {'rating': 6.0, 'votes': 23711, 'awards': 1},
 {'rating': 7.2, 'votes': 968, 'awards': 1},
 {'rating': 6.2, 'votes': 4784, 'awards': 1},
 {'rating': 7.5, 'votes': 147182, 'awards': 1},
 {'rating': 7.2, 'votes': 25455, 'awards': 1},
 {'rating': 7.3, 'votes': 302244, 'awards': 1},
 {'rating': 6.4, 'votes': 83764, 'awards': 1},
 {'rating': 5.6, 'votes': 47046, 'awards': 1},
 {'rating': 7.2, 'votes': 129694, 'awards': 1},
 {'rating': 5.2, 'votes': 24563, 'awards': 1},
 {'rating': 7.6, 'votes': 174379, 'awards': 1},
 {'rating': 6.2, 'votes': 65908, 'awards': 1},
 {'rating': 8.6, 'votes': 1188658, 'awards': 1},
 {'rating': 6.5, 'votes': 613768, 'awards': 1},
 {'rating': 8.3, 'votes': 912250, 'awards': 1},
 {'rating': 7.5, 'votes': 681075, 'awards': 1},
 {'rating': 5.9, 'votes': 53973, 'awards': 1},
 {'rating': 8.7, 'votes': 1109656, 'awards': 1},
 {'rating': 7.9, 'votes': 833706, 'awards': 1},
 {'rating': 7.0, 'votes': 532835, 'awards': 1},
 {'rating': 6.5, 'votes': 698744, 'awards': 1},
 {'rating': 7.7, 'votes': 390220, 'awards': 1},
 {'rating': 5.8, 'votes': 1471, 'awards': 1},
 {'rating': 4.7, 'votes': 3952, 'awards': 1},
 {'rating': 6.8, 'votes': 5542, 'awards': 1},
 {'rating': 6.8, 'votes': 6856, 'awards': 1},
 {'rating': 7.1, 'votes': 89029, 'awards': 1},
 {'rating': 6.4, 'votes': 73906, 'awards': 1},
 {'rating': 6.0, 'votes': 22422, 'awards': 1},
 {'rating': 6.1, 'votes': 4162, 'awards': 1},
 {'rating': 6.5, 'votes': 187627, 'awards': 1},
 {'rating': 6.9, 'votes': 353342, 'awards': 1},
 {'rating': 4.1, 'votes': 4769, 'awards': 1},
 {'rating': 7.3, 'votes': 171721, 'awards': 1},
 {'rating': 6.8, 'votes': 59000, 'awards': 1},
 {'rating': 7.3, 'votes': 81227, 'awards': 1},
 {'rating': 6.1, 'votes': 56291, 'awards': 1},
 {'rating': 6.7, 'votes': 97413, 'awards': 1},
 {'rating': 7.2, 'votes': 42723, 'awards': 1},
 {'rating': 7.2, 'votes': 12993, 'awards': 1},
 {'rating': 7.4, 'votes': 26823, 'awards': 1},
 {'rating': 5.0, 'votes': 40276, 'awards': 1},
 {'rating': 6.9, 'votes': 135545, 'awards': 1},
 {'rating': 8.0, 'votes': 633057, 'awards': 1},
 {'rating': 7.0, 'votes': 4848, 'awards': 1},
 {'rating': 7.6, 'votes': 159903, 'awards': 1},
 {'rating': 5.4, 'votes': 14354, 'awards': 1},
 {'rating': 6.0, 'votes': 78380, 'awards': 1},
 {'rating': 6.9, 'votes': 189877, 'awards': 1},
 {'rating': 8.5, 'votes': 901362, 'awards': 1},
 {'rating': 7.6, 'votes': 227707, 'awards': 1},
 {'rating': 7.5, 'votes': 1139, 'awards': 1},
 {'rating': 5.5, 'votes': 34463, 'awards': 1},
 {'rating': 6.5, 'votes': 13617, 'awards': 1},
 {'rating': 7.7, 'votes': 45861, 'awards': 1},
 {'rating': 7.6, 'votes': 31198, 'awards': 1},
 {'rating': 7.1, 'votes': 84999, 'awards': 1},
 {'rating': 6.6, 'votes': 43976, 'awards': 1},
 {'rating': 7.1, 'votes': 18041, 'awards': 1},
 {'rating': 6.5, 'votes': 114898, 'awards': 1},
 {'rating': 7.1, 'votes': 117082, 'awards': 1},
 {'rating': 8.1, 'votes': 377085, 'awards': 1},
 {'rating': 6.3, 'votes': 123037, 'awards': 1},
 {'rating': 5.8, 'votes': 70904, 'awards': 1},
 {'rating': 6.9, 'votes': 55743, 'awards': 1},
 {'rating': 6.9, 'votes': 36509, 'awards': 1},
 {'rating': 6.5, 'votes': 50945, 'awards': 1},
 {'rating': 6.9, 'votes': 31236, 'awards': 1},
 {'rating': 6.5, 'votes': 91389, 'awards': 1},
 {'rating': 5.6, 'votes': 47866, 'awards': 1},
 {'rating': 4.7, 'votes': 31254, 'awards': 1},
 {'rating': 6.5, 'votes': 4080, 'awards': 1},
 {'rating': 8.0, 'votes': 194154, 'awards': 1},
 {'rating': 8.0, 'votes': 77452, 'awards': 1},
 {'rating': 7.2, 'votes': 85169, 'awards': 1},
 {'rating': 6.5, 'votes': 11541, 'awards': 1},
 {'rating': 6.4, 'votes': 48683, 'awards': 1},
 {'rating': 6.3, 'votes': 16402, 'awards': 1},
 {'rating': 5.3, 'votes': 23206, 'awards': 1},
 {'rating': 5.6, 'votes': 1008, 'awards': 1},
 {'rating': 6.0, 'votes': 45155, 'awards': 1},
 {'rating': 5.4, 'votes': 21881, 'awards': 1},
 {'rating': 8.0, 'votes': 281155, 'awards': 1},
 {'rating': 8.1, 'votes': 24630, 'awards': 1},
 {'rating': 8.3, 'votes': 846332, 'awards': 1},
 {'rating': 7.9, 'votes': 504561, 'awards': 1},
 {'rating': 8.3, 'votes': 729086, 'awards': 1},
 {'rating': 7.8, 'votes': 172068, 'awards': 1},
 {'rating': 6.9, 'votes': 6611, 'awards': 1},
 {'rating': 7.2, 'votes': 96646, 'awards': 1},
 {'rating': 6.8, 'votes': 110110, 'awards': 1},
 {'rating': 6.8, 'votes': 306175, 'awards': 1},
 {'rating': 6.6, 'votes': 20533, 'awards': 1},
 {'rating': 6.2, 'votes': 61665, 'awards': 1},
 {'rating': 8.2, 'votes': 895906, 'awards': 1},
 {'rating': 5.5, 'votes': 20118, 'awards': 1},
 {'rating': 7.6, 'votes': 2253, 'awards': 1},
 {'rating': 8.4, 'votes': 955757, 'awards': 1},
 {'rating': 6.7, 'votes': 18897, 'awards': 1},
 {'rating': 7.7, 'votes': 175505, 'awards': 1},
 {'rating': 7.3, 'votes': 97309, 'awards': 1},
 {'rating': 7.2, 'votes': 20673, 'awards': 1},
 {'rating': 7.7, 'votes': 365043, 'awards': 1},
 {'rating': 8.0, 'votes': 410437, 'awards': 1}]

In [42]:
x[1]

array(['tt7019028', '101 Dalmatian Street',
       'This series follows the lives of Delilah and Doug, descendants of Pongo and Perdita, and their 99 dalmatian pups at 101 Dalmatian Street, Camden Town.',
       'series', 0, '2018–', '25 Mar 2019', 'February 28, 2020', 0,
       'Animation, Comedy, Family', 0, 0,
       'Josh Brener, Michaela Dietz, Bert Davis, Abigail Zoe Lewis',
       'English', 'UK, USA, Canada', 0, 0.0, 6.2, '124'], dtype=object)