In [1]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='9eb8cf3d-44b2-47e0-800a-5daf44d6aec0', project_access_token='p-d353a26a3de7201d64c75898fc67ae8164e4ab4b')
pc = project.project_context

In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_9e05e7d327e6421c828095c087b241fd = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_9e05e7d327e6421c828095c087b241fd = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_9e05e7d327e6421c828095c087b241fd = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='jeP4UThEYr4mJfF0NRmYP8-oVib0vkqLSIlfgEkZ0G2n',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_9e05e7d327e6421c828095c087b241fd)

body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='TV_Shows.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [3]:

body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='amazon prime movies.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,Movie Name,Language,IMDb Rating,Running Time,Year of Release,Maturity Rating,Plot
0,John Rambo,Tamil,7,1 h 26 min,2008,18+,"In Thailand, John Rambo joins a group of merce..."
1,American Pie,English,7,1 h 35 min,1999,18+,You'll never look at warm apple pie the same w...
2,Bombshell,English,6.8,1 h 48 min,2019,18+,"The provocative real story of three smart, amb..."
3,Love Birds,Tamil,5.1,2 h 40 min,1996,All,"After accidentally meeting, Mridula (Nagma) an..."
4,Hippi,Telugu,5,2 h 20 min,2019,18+,Hippi is about the live-in relationship betwee...

In [4]:

body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='disney_plus_shows.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [5]:

body = client_9e05e7d327e6421c828095c087b241fd.get_object(Bucket='ottanalysis-donotdelete-pr-5ryrxspyvczcwg',Key='netflix_titles.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
df_data_4.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [6]:
df_data_1

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5606,5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1

In [7]:
x=df_data_4.duration.dropna(inplace=False).to_numpy()

In [8]:
def change(z):
    c=z.split(" ")
    if c[1] != 'min':
        return 0
    return int(c[0])

In [9]:
ch=list(map(change,x))

In [10]:
ch

[0,
 93,
 78,
 80,
 123,
 0,
 95,
 119,
 118,
 143,
 103,
 0,
 0,
 89,
 91,
 149,
 0,
 144,
 124,
 87,
 110,
 128,
 117,
 100,
 0,
 84,
 0,
 99,
 95,
 0,
 90,
 102,
 104,
 99,
 105,
 56,
 125,
 119,
 0,
 81,
 97,
 106,
 99,
 107,
 93,
 0,
 89,
 105,
 87,
 97,
 109,
 0,
 93,
 0,
 109,
 44,
 75,
 101,
 0,
 89,
 90,
 0,
 90,
 0,
 0,
 93,
 101,
 37,
 113,
 89,
 84,
 102,
 102,
 114,
 130,
 90,
 94,
 97,
 143,
 91,
 0,
 107,
 95,
 119,
 93,
 0,
 0,
 0,
 101,
 93,
 140,
 135,
 82,
 70,
 104,
 0,
 117,
 121,
 92,
 124,
 164,
 53,
 93,
 91,
 83,
 93,
 114,
 116,
 0,
 93,
 81,
 0,
 0,
 84,
 105,
 86,
 120,
 106,
 92,
 96,
 97,
 99,
 100,
 126,
 96,
 75,
 94,
 129,
 80,
 103,
 0,
 96,
 0,
 77,
 0,
 137,
 148,
 0,
 0,
 0,
 0,
 0,
 0,
 123,
 121,
 95,
 28,
 99,
 104,
 122,
 104,
 94,
 0,
 176,
 107,
 90,
 94,
 101,
 87,
 92,
 85,
 93,
 22,
 95,
 86,
 137,
 101,
 68,
 121,
 111,
 110,
 29,
 142,
 168,
 102,
 92,
 86,
 22,
 22,
 21,
 0,
 59,
 93,
 86,
 80,
 109,
 92,
 92,
 0,
 89,
 96,
 0,
 95,
 87,
 93,
 0,
 113,
 0,
 0,
 0,
 20,
 117,
 0,
 97,
 98,
 108,
 125,
 91,
 76,
 90,
 82,
 111,
 92,
 0,
 110,
 94,
 100,
 91,
 0,
 94,
 44,
 108,
 130,
 83,
 123,
 0,
 106,
 87,
 130,
 100,
 96,
 89,
 95,
 26,
 156,
 0,
 98,
 30,
 108,
 0,
 92,
 0,
 28,
 99,
 85,
 122,
 84,
 57,
 0,
 107,
 102,
 103,
 91,
 104,
 91,
 110,
 0,
 111,
 0,
 0,
 0,
 77,
 99,
 122,
 150,
 117,
 126,
 148,
 122,
 95,
 133,
 164,
 115,
 154,
 133,
 110,
 0,
 127,
 146,
 136,
 100,
 90,
 88,
 131,
 0,
 44,
 101,
 123,
 0,
 0,
 0,
 90,
 89,
 87,
 0,
 24,
 88,
 133,
 110,
 112,
 129,
 87,
 87,
 0,
 120,
 59,
 0,
 74,
 96,
 91,
 59,
 105,
 63,
 111,
 96,
 99,
 92,
 86,
 90,
 0,
 63,
 0,
 0,
 106,
 0,
 38,
 93,
 87,
 25,
 105,
 94,
 107,
 89,
 0,
 92,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 22,
 174,
 60,
 97,
 122,
 91,
 0,
 0,
 0,
 84,
 97,
 127,
 153,
 158,
 151,
 0,
 150,
 0,
 0,
 105,
 109,
 0,
 0,
 0,
 81,
 0,
 162,
 104,
 54,
 94,
 83,
 85,
 106,
 60,
 102,
 88,
 51,
 100,
 0,
 131,
 109,
 69,
 106,
 115,
 60,
 64,
 110,
 0,
 54,
 147,
 112,
 0,
 87,
 63,
 0,
 88,
 0,
 42,
 90,
 89,
 79,
 101,
 0,
 0,
 102,
 122,
 85,
 0,
 83,
 0,
 0,
 92,
 40,
 84,
 104,
 91,
 109,
 100,
 90,
 90,
 94,
 99,
 90,
 95,
 0,
 92,
 0,
 103,
 103,
 103,
 45,
 45,
 0,
 90,
 106,
 0,
 75,
 98,
 0,
 112,
 92,
 103,
 104,
 92,
 172,
 125,
 96,
 0,
 44,
 0,
 0,
 81,
 112,
 122,
 101,
 0,
 0,
 53,
 0,
 53,
 110,
 10,
 99,
 95,
 119,
 163,
 0,
 55,
 84,
 0,
 96,
 102,
 90,
 0,
 106,
 72,
 0,
 127,
 116,
 128,
 61,
 57,
 80,
 80,
 75,
 75,
 79,
 93,
 129,
 108,
 87,
 71,
 0,
 97,
 91,
 83,
 85,
 116,
 130,
 111,
 113,
 97,
 0,
 102,
 106,
 160,
 137,
 171,
 171,
 104,
 95,
 90,
 128,
 0,
 0,
 103,
 121,
 30,
 48,
 139,
 105,
 0,
 104,
 162,
 157,
 15,
 106,
 130,
 88,
 0,
 146,
 0,
 0,
 64,
 104,
 127,
 92,
 0,
 0,
 100,
 72,
 0,
 0,
 0,
 118,
 110,
 65,
 0,
 64,
 59,
 122,
 90,
 60,
 134,
 0,
 89,
 0,
 0,
 161,
 86,
 87,
 130,
 107,
 0,
 80,
 79,
 62,
 0,
 0,
 93,
 81,
 87,
 0,
 0,
 0,
 54,
 0,
 98,
 113,
 91,
 89,
 0,
 0,
 63,
 0,
 110,
 98,
 125,
 106,
 93,
 139,
 90,
 123,
 0,
 0,
 0,
 0,
 168,
 83,
 101,
 94,
 0,
 100,
 117,
 133,
 81,
 91,
 0,
 0,
 104,
 106,
 112,
 122,
 0,
 0,
 102,
 88,
 0,
 99,
 0,
 186,
 49,
 0,
 94,
 90,
 95,
 97,
 110,
 0,
 97,
 0,
 73,
 88,
 150,
 97,
 91,
 92,
 0,
 0,
 0,
 111,
 101,
 112,
 73,
 89,
 129,
 58,
 80,
 65,
 0,
 99,
 126,
 135,
 127,
 165,
 166,
 166,
 138,
 159,
 160,
 159,
 136,
 112,
 101,
 143,
 0,
 0,
 0,
 127,
 98,
 0,
 61,
 95,
 86,
 0,
 0,
 84,
 111,
 0,
 92,
 102,
 97,
 90,
 0,
 0,
 119,
 147,
 99,
 0,
 130,
 87,
 0,
 0,
 83,
 83,
 105,
 0,
 91,
 117,
 117,
 0,
 0,
 0,
 0,
 0,
 0,
 78,
 75,
 78,
 149,
 103,
 108,
 84,
 94,
 95,
 141,
 122,
 134,
 0,
 0,
 107,
 0,
 0,
 0,
 0,
 126,
 122,
 95,
 88,
 0,
 101,
 74,
 64,
 0,
 0,
 74,
 74,
 83,
 0,
 72,
 79,
 72,
 80,
 75,
 75,
 72,
 109,
 132,
 0,
 110,
 99,
 144,
 91,
 105,
 166,
 103,
 128,
 0,
 0,
 0,
 118,
 87,
 77,
 98,
 0,
 94,
 0,
 0,
 125,
 29,
 102,
 121,
 116,
 110,
 88,
 0,
 0,
 0,
 52,
 89,
 52,
 0,
 0,
 137,
 0,
 51,
 0,
 110,
 92,
 0,
 119,
 0,
 81,
 73,
 75,
 0,
 99,
 89,
 0,
 121,
 100,
 92,
 100,
 0,
 98,
 97,
 97,
 86,
 105,
 0,
 100,
 96,
 0,
 0,
 115,
 99,
 76,
 0,
 113,
 88,
 106,
 127,
 90,
 0,
 74,
 91,
 0,
 0,
 85,
 90,
 102,
 90,
 87,
 100,
 25,
 94,
 105,
 99,
 116,
 82,
 120,
 77,
 92,
 107,
 62,
 57,
 70,
 0,
 0,
 98,
 77,
 44,
 97,
 0,
 0,
 100,
 0,
 0,
 104,
 56,
 0,
 108,
 83,
 91,
 149,
 112,
 0,
 0,
 0,
 0,
 0,
 102,
 98,
 107,
 0,
 59,
 120,
 0,
 0,
 0,
 151,
 116,
 112,
 117,
 130,
 74,
 150,
 63,
 138,
 148,
 114,
 123,
 97,
 105,
 107,
 106,
 0,
 0,
 87,
 93,
 0,
 88,
 126,
 107,
 0,
 103,
 90,
 68,
 100,
 95,
 108,
 86,
 81,
 65,
 67,
 78,
 69,
 28,
 34,
 61,
 56,
 81,
 0,
 97,
 132,
 110,
 66,
 0,
 127,
 0,
 131,
 107,
 124,
 38,
 115,
 88,
 97,
 116,
 0,
 0,
 132,
 117,
 137,
 100,
 79,
 0,
 0,
 0,
 162,
 144,
 0,
 0,
 0,
 79,
 0,
 312,
 0,
 135,
 83,
 114,
 88,
 116,
 91,
 0,
 0,
 83,
 80,
 90,
 106,
 129,
 0,
 0,
 94,
 94,
 120,
 83,
 91,
 130,
 0,
 91,
 102,
 85,
 0,
 0,
 88,
 110,
 0,
 0,
 113,
 0,
 0,
 123,
 0,
 0,
 180,
 98,
 81,
 90,
 ...]

In [13]:
x=df_data_3.runtime.dropna(inplace=False).to_numpy()

In [14]:
ch2=list(map(change,x))

In [15]:
ch.extend(ch2)

In [16]:
max(ch)

312

In [17]:
sum(ch)/len(ch)

68.54005797101449

In [47]:
d={}
l=[]
d['maximum runtime']=max(ch)
d['average runtime']=sum(ch)/len(ch)
l.append(d)

In [48]:
df=pd.DataFrame(l)

In [50]:
project.save_data(data=df.to_csv(index=False),file_name='runtime.csv',overwrite=True)

{'file_name': 'runtime.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'ottanalysis-donotdelete-pr-5ryrxspyvczcwg',
 'asset_id': '2fb742b5-f35a-4c68-944c-f691b59a9cd7'}